.socialContent{
    margin: 0 auto;
    max-width: 500px;
}
.socialCard {
    margin-top: 10px;
    margin-bottom: 10px;
}
.circle {
    border-radius: 50%;
	width: 20px;
    height: 20px; 
    background-color: black;
}