<div *ngIf="lat && lng">
  <agm-map [zoom]="15" [minZoom]="15" [zoomControl]="false" [latitude]="lat" [longitude]="lng">
    <agm-marker style="z-index: 100;"[latitude]="lat" [longitude]="lng" [iconUrl]="'./assets/icons/location.svg'">
      <agm-info-window>
        <h3><strong></strong></h3>
        <p>You are here!</p>
      </agm-info-window>
    </agm-marker>

    <agm-marker *ngFor="let marker of markers"
      [latitude]="marker.location[0]"
      [longitude]="marker.location[1]">
      <agm-info-window>
        <h3><strong>Location Details</strong></h3>
        <p>{{ marker.distance }} away from here</p>
      </agm-info-window>
    </agm-marker>
  </agm-map>
<div>